/* Menus */
#menu {
    width: 50%;
    float: right;
    

}

#menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

#menu ul li {
    display: inline-block;
    font-size: 1.7rem;
}
#menu ul li:hover a{
    text-decoration: underline;
}
input#checkmenu{
    display: none;

}
#labelmenu{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.menuburguer{
    margin-right: 3%;
}

@media(max-width:1151px){

    .menuburguer{
        display: flex;
        width: 30px;
        height: 30px;
        flex-wrap: wrap;
    }
    .hamburguer{
        display: block;
        height: 5%;
        background-color: #000;
        width: 100%;
    }
    input#checkmenu:checked ~ #menu{
        display: flex;
    }
    #menu{
        display: none;
        height: calc(100vh - 7rem);
        width: 100%;
        justify-content: right;
        backdrop-filter: blur(5px);
        transition: backdrop-filter 59s;
        
        
        
    }
    #menu ul{
        flex-wrap: wrap;
        background-color: var(--primary);
        background-color: rgba(69, 90, 100, 0.856);
        height: 100%;
        width: 50%;
        align-content:flex-start;
        /* justify-content: flex-start; */
        padding-right: 2%;
    }
    #menu ul li{
        width: 100%;
        text-align: right;
        display: block;
        height: calc(7rem/3);
        padding: 2% 0;
    }
}