@media(max-width:1151px) {
    section#grid-ranking{
        grid-template-columns:100%;
        grid-template-rows: 25% 25% 25% 25%;
        height: 90%;
    }
    section#sectionIndex{
        width: 100%;
        height: 50%;
        padding: 4% 0;

    }
    main#main-index{
        display: block;
    }

    #sectionIndex .titulo-article{
        margin:0;
    }
    #titulo-principal {
        font-size: 1.8rem;
    }

    .card-index{
        height: 90%;
    }
    article.card{
        width: 90%;
    }
    footer{
        justify-content: space-around;
    }
    #main-index{
        height: 1400px;
        
    }
    #main-distros{
        height: 2200px;
    }
    #main-distros, #main-index{
        padding-top: 7rem;
    }
    header{
        position: fixed;
        top:0;
        width: 100%;
        flex-wrap: wrap;
        flex-flow: row wrap;
    }

}

@media(max-width:507px){
    main{
        height: 1600px;
    }
    
}